@model WebApplication2.ViewModels.ChangePasswordViewModel

<h2>Change Password</h2>

<form asp-action="ChangePassword" method="post" onsubmit="return validatePasswords()">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" id="NewPassword" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" id="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>


@section Scripts{
    <script>
    function validatePasswords() {
        var newPassword = document.getElementById('NewPassword').value;
        var confirmPassword = document.getElementById('ConfirmPassword').value;
        if (newPassword !== confirmPassword) {
            alert('Passwords do not match.');
            return false;
        }
        return true;
    }
</script>

}

